body{

font-family: Arial, sans-serif;

background: linear-gradient(120deg,#4facfe,#00f2fe);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

margin:0;

}

.container{

background:white;

padding:40px;

border-radius:15px;

text-align:center;

width:420px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

h1{

margin-bottom:10px;

}

.subtitle{

font-size:14px;

color:#444;

margin-bottom:20px;

}

.upload-btn{

display:inline-block;

padding:10px 20px;

background:#4facfe;

color:white;

border-radius:8px;

cursor:pointer;

margin-top:10px;

}

input[type="file"]{

display:none;

}

button{

margin-top:20px;

background:#4facfe;

border:none;

color:white;

padding:12px 25px;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#00c6ff;

}

#preview{

width:100%;

margin-top:15px;

border-radius:10px;

}

.result-box{

margin-top:25px;

padding:15px;

background:#f1f1f1;

border-radius:10px;

}

.confidence{

font-weight:bold;

margin-top:10px;

}

.explanation{

font-size:14px;

color:#333;

}

.info-box{

margin-top:25px;

font-size:14px;

color:#333;

}

.footer{

margin-top:25px;

font-size:12px;

color:#666;

}